/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: #fff;
    --DarkWhite: #cecdcd;
    --Dark: rgb(16, 17, 17);
}

html{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: var(--Dark);
    overflow-x: hidden;
}

/* HEADER SETTINGS */

header{
    display: flex;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 1rem;
    width: 100%;
    background-color: var(--White);
    z-index: 1;
    transition: all 200ms ease-in-out
    
}

.headerShadow{
    box-shadow: 0px 5px 30px var(--DarkWhite) ;
}

ul{
    display: flex;
    gap: 3rem;
    font-size: 1rem;
    list-style-type: none;
    cursor: pointer;
}

li{
    position: relative;
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1rem;
    background-color: black;
    border-radius: 1rem;
}

li:hover::after{
    transition: 0.3s ease-in-out;
    width: 100%;
}

.burger{
    background-color: transparent;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    margin: 1rem;
    display: none;
}

.line{
    width: 2.5rem;
    height: .3rem;
    background-color: var(--Dark);
    border-radius: 1rem;
    transition: .3s ease-in-out;
}

/* SECTION 1 SETTINGS */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem;
    gap: 10rem;
    background-color:#f7f7f7;
}

.home-gif{
    padding: 5rem;
    width: 80vh;
    display: block;
    border-radius: 50%;
}

.home-description{
    text-align: center;
}

.home-description p{
    font-size: 6rem;
}

.home-description span{
    font-size: 3rem;
}

.home-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.home-icon{
    width: 3rem;
    height: 3rem;
    color: var(--Dark);
    cursor: pointer;
}

.home-icon:hover{
    transform: scale(120%);
    transition: 0.3s ease-in-out;
}

/* PROJECTS SECTION */

.projects{
    padding-top: 1rem;
    padding-bottom: 8rem ;
}

.projects-title{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.projects-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.project{
    width: 25rem;
    height: 30rem;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(189, 186, 186);
    display: flex;
    flex-direction: column;
}

.project-icon{
    margin: 0.5rem auto;
    text-align: center;
}

.icn{
    width: 50%
}

.project-des{
    font-size: 1.5rem;
    margin: 0.1rem auto;
}

.project-des::after{
    display: block;
    margin: 0.1rem auto;
    content: '';
    width: 100%;
    height: 2px;
    background-color:var(--Dark);
}

.project-tech{
    display: flex;
    gap: 2rem;
    margin: 1rem auto;
}

.tech-icon{
    width: 3rem;
}

.project-buttons{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    margin: .1rem auto;
}

.project-button{
    background-color: var(--Dark);
    width: 4rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    padding: .5rem;
    margin: .5rem;
}

.project-button:hover{
    transform: scale(120%);
    transition: 0.3s ease-in-out;
}

/* ABOUT ME SECTION */

.aboutme{
    background-color: #f7f7f7;
    padding-top: 1rem;
    padding-bottom: 8rem;
}

.about-me-title{
    text-align: center;
    font-size: 3rem;
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 10rem;
}

.about-me-description{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

.tech-span{
    margin-top: 2rem;
    text-align: center;
}

.about-me-tech-icons{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.technology-icon{
    width: 3rem;
    display: block;
}

.technology{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;           
}

.about-me-description{
    width: 60vh;
}

.aboutme-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me-gif{
    width: 50vh;
    margin-bottom: 2rem;
    animation: meanimation 4s infinite ease-in-out;
}

@keyframes meanimation{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}

.shadow{
    width: 200px;
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    animation: shadowanimation 4s infinite ease-in-out;
    opacity: .5;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@keyframes shadowanimation{
    0%{
        width: 300px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 300px;
    }
}

/* CONTACT SECTION */


.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.contact-title{
    font-size: 3rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    margin-bottom: 6rem;
}

input, textarea{
    font-size: 1rem;
    margin: .5rem;
    padding: .5rem;
    width: 80%;
    border: 2px solid var(--Dark);
    resize: none;
}

.submit{
    background-color: var(--Dark);
    color: white;
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .5rem;
    margin: .5rem;
}

footer{
    padding: 1rem;
    background-color: var(--DarkWhite);
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    header{
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .burger{
        display: flex;
    }

    .burger.active .line:nth-child(1){
        width: 0%;
        transition: .3s ease-in-out;
    }

    .burger.active .line:nth-child(2){
        transform: rotate(405deg);
        transition: .3s ease-in-out;
    }
    
    .burger.active .line:nth-child(3){
        transform:  translateY(-.5rem) rotate(-405deg);   
        transition: .3s ease-in-out;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 3rem;
        gap: 3rem;
        font-size: 2rem;
        right: 0;
        background-color: var(--DarkWhite);
        height: 95vh;
        width: 50vw;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    ul.active{
        transform: translate(0%);
    }

    /* MEDIA QUERY HOME SECTION */

    .home{
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 1rem;
    }

    .home-gif{
        padding: 0;
        width: 40vh;
    }

    .home-description{
        order: 2;
    }

    .home-description p{
        font-size: 8vh;
    }
    
    .home-description span{
        font-size: 4vh;
    }

    .home-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 1rem;
    }

    /* MEDIA QUERY PROJECT SECTION */

    .project{
        width: 50vh;
        height: 25rem;
    }

    .projects-section{
        flex-direction: column;
        gap: 4rem;
    }

    /* MEDIA QUERY ABOUT ME */

    .about-me-container{
        flex-direction: column;
        margin: 1rem;
        gap: 3rem;
    }

    .about-me-description{
        width: 100%;
        font-size: 1rem;
    }

    .about-me-gif{
        width: 40vh;
    }
        
    .about-me-tech-icons{
        flex-wrap: wrap;
        gap: 1rem;
    }

    /* MEDIA QUERY CONTACT SECTION */

    


   form{
        width: 90%;
   }

    input, textarea{
        font-size: 1rem;
        margin: .5rem;
        width: 100%;
      
    }
    .submit{
        width: 3rem;
        height: 2rem;
        border: none;
        border-radius: 2rem;
        font-size: 1rem;
        cursor: pointer;
    }



}

@media only screen and (min-width: 1000px) and (max-width: 1720px) {
    .home-description p{
        font-size: 10vh;
    }
    
    .home-description span{
        font-size: 5vh;
    }
}

@media only screen and (max-width: 700px) {
    ul {
        width: 100%;
    }
}

