/* GLOBAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --White: #fff;
    --DarkWhite: #fafafa;
    --Blue: rgb(0,146,228)
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

/* HEADER SETTINGS */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--DarkWhite);
    border-bottom: 1px solid rgb(230, 224, 224);
    z-index: 1;
    padding: 2rem;
}

.header-icon{
    width: 3rem;
}

ul{
    display: flex;
    gap: 3rem;
    font-size: 1rem;
    list-style-type: none;
}

li{
    position: relative;
}

li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1rem;
    background-color: black;
    border-radius: 1rem;
}

li:hover::after{
    transition: 0.3s ease-in-out;
    width: 100%;
}

.burger{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

.line{
    width: 3rem;
    height: .3rem;
    margin: .5rem;
    background-color: rgb(0,146,228);
    border-radius: 1rem;
    transition: .3s ease-in-out;
}

/* SECTION 1 SETTINGS */

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    gap: 10rem;
}

.home-gif{
    padding: 3rem;
    width: 65vh;
    display: block;
}

.home-description{
    text-align: center;
}

.home-description p{
    font-size: 6rem;
    color: var(--Blue);
}

.home-description span{
    font-size: 3rem;
    color: var(--Blue);
}

.home-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 3rem;
}

.home-icon{
    width: 5rem;
    height: 5rem;
    color: var(--Blue)
}

.home-icon:hover{
    transform: scale(120%);
    transition: 0.3s ease-in-out;
}

/* PROJECTS SECTION */

.projects-title{
    text-align: center;
    font-size: 3rem;
    color: var(--Blue);
    margin: 6rem;
}

.projects-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.project{
    width: 25rem;
    height: 30rem;
    background-color: var(--DarkWhite);
    box-shadow: 5px 5px 5px rgb(189, 186, 186);
    display: flex;
    flex-direction: column;
}

.project:hover{
    transform: scale(105%);
    transition: 0.3s ease-in-out;
}

.project-icon{
    margin: 0.5rem auto
}

.icn{
    width: 15rem;
}

.project-des{
    font-size: 1.5rem;
    margin: 0.1rem auto;
}

.project-des::after{
    display: block;
    margin: 0.1rem auto;
    content: '';
    width: 100%;
    height: 2px;
    background-color:var(--Blue);
}

.project-tech{
    display: flex;
    gap: 2rem;
    margin: 1rem auto;
}

.tech-icon{
    width: 3rem;
}

.project-buttons{
    margin: 0.1rem auto;
}

.project-button{
    background-color: black;
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.project-button:hover{
    background-color:var(--Blue);
    transition: 0.3s ease-in-out;
}

/* ABOUT ME SECTION */

.about-me-title{
    text-align: center;
    font-size: 3rem;
    margin: 6rem;
    color: var(--Blue);
}

.about-me-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6rem;
    gap: 10rem;
}

.about-me-description{
    display: flex;
    flex-direction: column;
}

.about-me-tech-icons{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.technology-icon{
    width: 3rem;
    display: block;
}

.technology{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;           
}

.about-me-description{
    width: 60vh;
}

.about-me-gif{
    width: 65vh;
}



/* CONTACT SECTION */

.contact{
    position: absolute;
    top: 190rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem; 
    gap: 5rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.contact-container{
    display: flex;
}

@media only screen and (max-width: 1200px) {
    .home{
        height: 100vh;
    }
    
    .burger{
        display: block;
    }

    .burger.active .line:nth-child(1){
        width: 0%;
        transition: .3s ease-in-out;
    }

    .burger.active .line:nth-child(2){
        transform: rotate(405deg);
        transition: .3s ease-in-out;
    }
    
    .burger.active .line:nth-child(3){
        transform: rotate(-405deg) translateY(-.6rem) translateX(.5rem); 
        transition: .3s ease-in-out;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 5rem;
        gap: 6rem;
        font-size: 2rem;
        right: 0;
        background-color: rgb(0,146,228);
        height: 95vh;
        width: 50vw;
        transform: translate(100%);
        transition: .3s ease-in-out;
    }

    ul.active{
        transform: translate(0%);
    }

    .home{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .home-gif{
        width: 50vh;
    }

    .home-description{
        order: 2;
    }

    .home-description p{
        font-size: 6vh;
        color: var(--Blue);
    }
    
    .home-description span{
        font-size: 4vh;
        color: var(--Blue);
    }

    .project{
        width: 35vh;
    }

    .projects-section{
        flex-direction: column;
        gap: 5rem;
    }

    .about-me-container{
        flex-direction: column;
        margin: 1rem;
        gap: 3rem;
    }
    
    .about-me-title{
        margin: 3rem;
    }

    .about-me-description{
        width: 40vh;
    }

    .about-me-gif{
        width: 40vh;
    }

    .about-me-tech-icons{
        flex-wrap: wrap;
    }


}

@media only screen and (min-width: 1000px) and (max-width: 1720px) {
    .home-description p{
        font-size: 6vh;
        color: var(--Blue);
    }
    
    .home-description span{
        font-size: 4vh;
        color: var(--Blue);
    }
}

@media only screen and (max-width: 700px) {
    
    ul {
        width: 100%;
    }
}

